@page
@model StudentiWeb.Pages.Studenti.CreateModel

@{
    ViewData["Title"] = "Adauga student";
}

<h1>Adauga student</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="Student.Nume" class="control-label"></label>
                <input asp-for="Student.Nume" class="form-control" />
                <span asp-validation-for="Student.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Prenume" class="control-label"></label>
                <input asp-for="Student.Prenume" class="form-control" />
                <span asp-validation-for="Student.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.NrMatricol" class="control-label"></label>
                <input asp-for="Student.NrMatricol" class="form-control" />
                <span asp-validation-for="Student.NrMatricol" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Adauga" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Inapoi la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
