@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Proiect medii de programare</h1>
    <p>realizat de Ilie Boarescu</a>.</p>
    <h2><b>Aplicatie de mentenanta a studentilor, disciplinelor si notelor</b></h2>
</div>
